STRIPE_PUBLISHABLE_KEY=pk_live_51U98vxBtKHDQBH4vuAboSaGedVk5A9pEK5R2OB4kVHUhdPrNa4JmfMkmOTEKTwB2B2WfJ51RW3xLdr21jCxNsIHH005JMGtyht
STRIPE_SECRET_KEY=sk_live_REPLACE_WITH_YOUR_NEW_SECRET_KEY
STRIPE_WEBHOOK_SECRET=
BASE_URL=http://127.0.0.1:3000
PORT=3000
